@import "~@fluentui/react/dist/sass/References.scss";

.filtersContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 700px;
}
.filterField {
  width: 15em;
  margin-bottom: 10px;
  margin-right: 20px;
}
.dateContainer {
  display: grid;
  grid-template-columns: repeat(3, 10em);
}
.dateField {
  margin-bottom: 10px;
  margin-right: 20px;
}
.clearButton {
  margin-bottom: 15px;
}
.tableButtons {
  max-width: 25px;
}

.statusCell {
  max-width: 90px;
}
.dueDateCell {
  max-width: 90px;
}
.executionDateCell {
  max-width: 100px;
}
.tagsCell {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: lightBlue;
  border-radius: 3px;
  text-align: center;
  margin: 3px;
  padding: 3px;
  color: blue;
}

.status {
  border-radius: 3px;
  text-align: center;
  padding: 5px;
}

.new {
  background-color: #bec2bf;
}

.inProgress {
  background-color: #c2d99c;
}

.rejected {
  background-color: #f7a29c;
}

.approved {
  background-color: #54ffac;
}
.errorDialog {
  display: grid;
  justify-content: center;
}
.modalBox {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modalContent {
  background: white;
  left: 50%;
  max-width: 400px;
  width: 100%;
  padding: 2em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  justify-content: center;
}

.formField {
  width: 300px;
  margin-bottom: 1.5em;
}
.formButtonsContainer {
  display: flex;
  column-gap: 10px;
  margin-bottom: 10px;
}
.formButtonsContainer > *, .formButtonsContainer > *:active {
  width: 100%;
}
.primaryBtn {
  background-color: blue;
  color: white;

  &:hover {
    background-color: blue;
  }

  &:active {
    background-color: blue;
  }
}

@media (max-width: 900px) {
  .tagsCell {
    display: none;
  }
}
@media (max-width: 750px) {
  .filtersContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .requestTypeCell {
    display: none;
  }
}

@media (max-width: 680px) {
  .requestAreaCell {
    display: none;
  }
}

@media (max-width: 580px) {
  .executionDateCell {
    display: none;
  }
}